@tailwind base;
@tailwind components;
@tailwind utilities;
@import "datepicker";
@import "scrollbar";
@import "carriage";
html {
  height: 100%;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Epilogue", "Poppins", "Be Vietnam", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 14px;
  background-color: #fafafb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Hide Edge password reveal/hide */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.Toastify__toast-icon svg {
  fill: #3b71fe;
}
