@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Epilogue", "Poppins", "Be Vietnam", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #7f767f #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #7f767f;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Hide Edge password reveal/hide */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.Toastify__toast-icon svg {
  fill: #3b71fe;
}

.react-datepicker__week {
  .react-datepicker__day--selected {
    background-color: #3b71fe !important;
  }
  .react-datepicker__day--keyboard-selected {
    background-color: rgba($color: #3b71fe, $alpha: 0.3) !important;
    @apply text-primary;
  }
}
